.searchmeup {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    color: white;
    border: 2px solid white;
}

#backsmu {
    color: rgb(115, 115, 115);
    font-size: 2rem;
    width: 5rem;
    height: 2rem;
    /* border: 2px solid white; */
    margin-top: 5%;
    position: fixed;
    /* position: relative; */
    margin-left: 0%;
}

#backsmu:hover {
    /* text-decoration: none; */
    /* color: black; */
    box-shadow: 0px 10px 20px rgb(92, 92, 34);
}

.goBack {
}

.nav-link.smu, .page-link.smu{ /*It affects the button in the about page*/
    height: 2rem;
    width: 6rem;
    color: white;
}

.tab-content.searchmeup {/*affects the contents of the section in the about page*/
    /* margin-left: 0%; */
    height: 80vh;
    background-color: black;
    box-shadow: 0px 10px 30px rgb(92, 92, 34);
}

.card.mb-3 {
    height: 33.0rem;
    width: 99%;
}
.col-md-8.smu img{
    margin-top: 12%;
    margin-left: 2%;
    border-radius: 25px;
    height: 100%;
}
.card-body.smu {
    color: rgb(255, 255, 255);
    margin-top: 40%;
    margin-left: 5%;
    width: 100%;
}
.card.mb-3{
    background-color: black;
}
.title {
    font-size: x-large;
}

