.projects {
    margin-top: 3.099%;
    /* padding-top: 2%; */
    /* border: 2px solid white; */
}
.project p{
    text-align: center;
    color: rgb(158, 158, 158);
    /* font-size: 12.5rem; */
    /* box-shadow: 0px 2px 10px rgb(92, 92, 34); */
}

.projectTitle {
    color: rgb(169, 168, 76);
    margin-left: 5%;
    font-size: xx-large;
    /* margin-bottom: 5%; */
}

.goBack {
    width: 5rem;
    height: 2rem;
    margin-left: 1.25%;
    /* margin-top: -5.5%; */
    margin-bottom: -4%;
}

.bi.bi-arrow-left-square-fill {
    color: rgb(115, 115, 115);
    font-size: 2rem;
    margin-left: 1.25%;
    /* position:fixed; */
}

.bi.bi-arrow-left-square-fill:hover {
    /* text-decoration: none; */
    /* color: black; */
    box-shadow: 0px 10px 20px rgb(92, 92, 34);
}

.bi.bi-arrow-up-square-fill {
    color: rgb(115, 115, 115);
    font-size: 2rem;
    top: 90%;
    right: 2px;
    margin-right: 1.25%;
    position:fixed;
}

.bi.bi-arrow-up-square-fill:hover {
    /* text-decoration: none; */
    /* color: black; */
    box-shadow: 0px 10px 20px rgb(92, 92, 34);
}

.projectList {
    width: 90vw;
    height: auto;
    font-size: small;
    margin-top: 1%;
    margin-left: 5%;
    /* border: 2px solid black; */
    border-radius: 25px;
    /* background-color: white; */
}

.project{
    /* background-color: black; */
    margin-bottom: 8%;
}

.img-fluid.project.picture {
    height: 40rem;
    width: 50rem;
    border-radius: 25px;
}

.card-body {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 15%;
    color: white;
    font-size: larger;
}

.card-title {
    align-items: center;
    color: rgb(169, 168, 76);
    /* text-align: center; */
    margin-left: 15rem;
    margin-bottom: 3%;
    width: 50rem;
    font-size: 5rem;
}

.project.odd .col-md-8{
    /* float: right; */
    margin-left: -4.5%;
}

.project.odd img{
    /* float: right; */
    margin-left: 15%;
}


.project:hover {
    transform: scale(1.025);
    transition: all 1s ease-in-out;
    transition-delay: 0.05s;
}

.description {
    margin-bottom: 5rem;
}