body{
    font-weight: bold;
}
.card.middleCatalog {
    height: 40rem;
    width: 20rem;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 2px 2px 2px;
}
.card.sideCatalog {
    margin-top: 5%;
    height: 30rem;
    width: 25%;
    padding: 2px 2px 2px;
    /* margin-left: 2rem; */
    /* margin-right: 2rem; */
}
.card.sideCatalog:hover {
    transform: scale(1.05);
    transition: all 0.4s ease-in-out;
    box-shadow: 0px 10px 30px rgb(249, 247, 126);
    /* transition-duration: 0.5s; */
}
.card.sideCatalog:hover::after {
    transform: scale(1);
    transition: all 0.5s ease-in-out;
    /* transition-duration: 0.25s; */
}
.card.middleCatalog:hover {
    transform: scale(1.05);
    transition-duration: 0.4s;
    box-shadow: 0px 10px 30px rgb(249, 247, 126);
}
.catalogStyling {
    display:flex;
    /* flex-direction: row; */
    /* margin-left: -5%; */
    margin-right: 5%;
}

.catalog {
    text-align: center;
    /* margin-left: 8%; */
    margin-top: 8%;
}

.catalogPicturesSide{
    border: 3px solid black;
    height: 140%;
}
.catalogPicturesMiddle{
    /* margin-top: 0.5%; */
    border: 3px solid rgb(0, 0, 0);
    height: 65%;
}
.pictureSide {
    height: 100%;
    width: 100%;
}
.pictureMiddle {
    height: 100%;
    width: 100%;
}


@media screen and (max-width: 2500px) {
    .catalog {
        margin-left: 14%;
    }
  .card.middleCatalog {
    height: 35rem;
    width: 50rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .card.sideCatalog {
    height: 300px;
    width: 25%;
  }
  .catalogStyling {
    display:flex;
    flex-direction: row;
    margin-left: -10%;
    margin-right: 5%;
  }
  .catalogPicturesSide{
    border: 3px solid black;
    height: 15rem;
}
.catalogPicturesMiddle{
    border: 3px solid black;
    height: 30rem;
}
}

/* @media screen and (max-width: 1400px) {
  .card.middleCatalog {
    height: 400px;
    width: 400px;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .card.sideCatalog {
    height: 250px;
    width: 250px;
  }
} */

@media screen and (max-width: 1200px) {/*was 1250 before*/
  .card.middleCatalog {
    /* height: 600px; */
    height: 350px;
    width: 85%;
    margin-left: 0px;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .card.sideCatalog {
    /* height: 600px; */
    height: 350px;
    width: 85%;
    margin-top: 0px;
  }

  .catalogStyling {
    display:flex;
    flex-direction: column;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 15%;
}
.catalogPicturesSide{
    border: 3px solid black;
    height: 20rem;
}
.catalogPicturesMiddle{
    /* margin-top: 0.5%; */
    border: 3px solid black;
    height: 20rem;
}
}